@import "bar/bar.scss"
@import "powermenu/powermenu.scss"
@import "desktopClock/desktopClock.scss"

* {
	all: unset; // Unsets everything so you can style everything from scratch
	font-family: "JetBrainsMono Nerd Font";
	margin: 0;
	padding: 0;
	border-width: 0;
}



.testbox {
	background-color: red;
}